
body {
    font-family: 'Dosis', sans-serif;
    background: #ca7c76;
}
p{
    font-size: 20px;
}

#firstCat{
    position: absolute;
float: left;
align-items: center;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 50px;
padding-top: 10px;
width: 400px;
height: 450px;
background-color: rgb(240, 158, 144);
}

#secondCat{
    position: absolute;
    float: right;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-top: 10px;
    width: 400px;
    height: 450px;
    background-color: rgb(240, 158, 144);
}

.homePic{
    padding-left: 450px;
    align-content: center;
}

.maleHeadshot{
    width: 200px;
}
.femaleHeadshot{
    width: 200px;
}

.catalogue-box{
    position: relative;
    height: 79%;
    width: 103%;
    padding-left:68px;
    padding-top: 52px;
    padding-bottom: 70px;
    border: 1px solid #7c7777;
    border-radius: 10px;
    margin: 8px;
    cursor: pointer;
    background: lightblue;
    transition: 0.3s ease-in-out;
}
.catalogue-box:hover{
    box-shadow: 0px 0px 35px 5px rgba(11, 230, 219, 0.856);
}
