body{
    background: #803e00;
    font-family: 'Dosis', sans-serif;
    
}
.header{
    margin-top: 12vh;
    margin-bottom: 10vh;
    color:black;

}

.catalogue-box{
    position: relative;
    height: 74%;
    width: 113%;
    padding-left:68px;
    padding-top: 52px;
    padding-bottom: 70px;
    border: 1px solid #7c7777;
    border-radius: 10px;
    margin:8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.catalogue-box:hover{
    box-shadow: 0px 0px 35px 5px rgba(166, 18, 172, 0.856);
}
