.body{
    background-color: rgb(152 152 152);
    width: 200px;
    height: 222px;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    top: 146px;
    left: 62px;
}

.head{
    background-color: rgb(152 152 152);
    width: 200px;
    height: 175px;
    border-radius: 50% 50%;
    position: relative;
}

.eyes{
    position: relative;
    top: 30px;
    display: flex;
    
}

.eye-left, .eye-right{
    background-color: rgb(248, 248, 248);
    width: 53px;
    height: 32px;
    border-radius: 141%;
    margin: 30px;
    position: relative;
    
}

span.pupil-left, span.pupil-right{
    background-color: rgb(0, 0, 0);
    width: 30;
    height: 30;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    top: 1px;
    left: 5px;
}

.inner-eyes-big-right, .inner-eyes-big-left{
    background-color: blanchedalmond;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 7px;
}

.inner-eyes-small-right, .inner-eyes-small-left{
    background-color: blanchedalmond;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 5px;
}


.ears{
    position: absolute;
    top: 45px;
}

.ear{
    
    border-radius: 90% 0% 90% 0%;
    background-color: rgb(145, 78, 40);
    width: 100px;
    height: 100px;
    position: absolute;
    
}

.left-ear{
    transform: scale(1, -1);
    left: 0px;
    
}

.right-ear{
    left: 100px;
    
}

.left-inner-ear{
    border-radius: 100% 0% 100% 0%;
    background-color: rgb(154 129 124);
    width: 90px;
    height: 90px;
    position: relative;
    top: -4.5px;
    left: 14px;
    
    
}
.right-inner-ear{
    border-radius: 100% 0% 100% 0%;
    background-color: rgb(154 129 114);
    width: 90px;
    height: 90px;
    position: relative;
    top: 15px;
    left: -5px;
}

.whiskers{
    position: relative;
    
}
.whisker1{
    position: relative;
    width: 63px;
    height: 59px;
    border-top: 3.5px solid rgb(0 0 0 / 98%);
    /* border-left: 0.5px solid rgb(0 0 0 / 63%); */
    border-top-left-radius: 200px;
    float: left;
    margin-left: 100px;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 0%);
    top: -24px;
    left: 23px;
    transform: rotate(205deg);
}
.whisker2{
    position: relative;
    width: 63px;
    height: 59px;
    border-top: 3.5px solid rgb(0 0 0 / 98%);
    /* border-left: 0.5px solid rgb(0 0 0 / 63%); */
    border-top-left-radius: 200px;
    float: left;
    margin-left: 100px;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 0%);
    top: -88px;
    left: 23px;
    transform: rotate(198deg);
}
.whisker3{
    position: relative;
    width: 63px;
    height: 59px;
    border-top: 3.5px solid rgb(0 0 0 / 98%);
    /* border-left: 0.5px solid rgb(0 0 0 / 63%); */
    border-top-left-radius: 200px;
    float: left;
    margin-left: 100px;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 0%);
    top: -151px;
    left: 20px;
    transform: rotate( 192deg);
}
.whisker4{
    position: relative;
    width: 63px;
    height: 59px;
    border-left: 3.5px solid rgb(0 0 0 / 98%);
    border-top-left-radius: 200px;
    float: left;
    margin-left: 100px;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 0%);
    top: -213px;
    left: -88px;
    transform: rotate(-99deg);
}
.whisker5{
    position: relative;
    width: 63px;
    height: 59px;
    border-left: 3.5px solid rgb(0 0 0 / 98%);
    border-top-left-radius: 200px;
    float: left;
    margin-left: 100px;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 0%);
    top: -263px;
    left: -93px;
    transform: rotate(-113deg);
}
.whisker6{
    position: relative;
    width: 63px;
    height: 59px;
    border-left: 3.5px solid rgb(0 0 0 / 98%);
    border-top-left-radius: 200px;
    float: left;
    margin-left: 100px;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 0%);
    top: -327px;
    left: -91px;
    transform: rotate(-106deg);
}


.tail {
    background-color: #755447;
    position: absolute;
    width: 75px;
    height: 149px;
    border-radius: 85% 4% 60% 12%;
    margin: 0px;
    transform: rotate(53deg);
    top: 204px;
    left: 210px;
}


.inner-tail{
    background-color: rgb(51 32 25);
    position: absolute;
    width: 43px;
    height: 103px;
    border-radius: 89% 12% 43% 2%;
    margin: 0px;
    transform: rotate(2deg);
    top: 31px;
    left: 9px;
}

.mouth{
    background-color: rgb(219, 190, 168);
    width: 103px;
    height: 87px;
    border-radius: 52% 52% 52% 52%;
    position: absolute;
    top: 78px;
    left: 47px;
}

.mouth-right{
    width: 47px;
    height: 20px;
    border: solid 3px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 220%/81px 72px 0 0;
    transform: rotate(-132deg);
    position: absolute;
    top: 106px;
    left: 87px;
}

.mouth-left{
    width: 47px;
    height: 20px;
    border: solid 3px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 220%/81px 72px 0 0;
    transform: rotate(-223deg);
    position: absolute;
    top: 106px;
    left: 61px;
}

.nose{
    background-color: black;
    position: absolute;
    width: 15px;
    height: 15px;
    border-top-right-radius: 12px;
    transform: rotate(316deg);
    left: 90px;
}

.chin{
    width: 28px;
    height: 14px;
    border: solid 3px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 220%/81px 72px 0 0;
    transform: rotate(180deg);
    position: absolute;
    top: 136px;
    left: 84px;
}

.feet{
    position: relative;
}

.foot-left{
    background-color: rgb(152 152 152);
    width: 65px;
    height: 50px;
    border-radius: 28px 28px 25px 25px;
    position: absolute;
    top: 110px;
    left: 25px;
    transform: rotate(179deg);
}

.foot-right{
    background-color: rgb(152 152 152);
    width: 65;
    height: 50;
    border-radius: 28px 28px 25px 25px;
    position: absolute;
    top: 109px;
    left: 105px;
    transform: rotate(179deg);
}

.belly{
    background-color: rgb(219, 190, 168);
    width: 133px;
    height: 169px;
    border-radius: 53% 52% 52% 52%;
    position: absolute;
    top: 201px;
    left: 96px;
}
    /* the original egg pattern */
/* .head-pattern{
    position: absolute;
    display: block;
    width: 51px;
    height: 57px;
    background-color: rgb(99, 30, 30);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    top: 0px;
    left: 74px;
} */



.head-shapes {
    position: absolute;
    left: 93px;
    height: 35px;
    top: 1px;
    width: 14px;
    background: #ffb74d;
    -webkit-border-radius: 0 0 50% 50%;
    border-radius: 0 0 50% 50%;
}

 .left_head-shape {
    position: absolute;
    content: '';
    top: 0px;
    width: 14px;
    height: 25px;
    background: #ffb74d;
    left: -12px;
    border-radius: 50% 0 50% 50%;
}
.right_head-shape {
    position: absolute;
    content: '';
    top: 0px;
    width: 14px;
    height: 25px;
    background: #ffb74d;
    left: 12px;
    border-radius: 0 50% 50% 50%;
}
.sunnies{
    background:linear-gradient(to bottom, rgb(51, 50, 50), #000);
    border-radius: 30px;
    left: 3px;
    width: 193px;
    border: 2.5px solid #FFD700;
    height: 92px;
}



/* *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    overflow-y: scroll;
}
body {
    background: #607d8b;
 
}

.cat__head {
    position: relative;
    width: 230px;
    height: 200px;
    border: 6px solid transparent;
    -webkit-border-radius: 50% 50% 45% 45%;
    border-radius: 50% 50% 45% 45%;
    background: #ffcc80;
    z-index: 20;
}
.cat__head-dots {
    position: absolute;
    left: 101px;
    height: 48px;
    top: 1px;
    width: 14px;
    background: #ffb74d;
    -webkit-border-radius: 0 0 50% 50%;
    border-radius: 0 0 50% 50%;
}

 .cat__head-dots_first {
    position: absolute;
    content: '';
    top: 1px;
    width: 14px;    
    height: 35px;
    background: #ffb74d;
    left: -20px;
    border-radius: 50% 0 50% 50%;
}
.cat__head-dots_second {
    position: absolute;
    content: '';
    top: 1px;
    width: 14px;    
    height: 35px;
    background: #ffb74d;
    left: 20px;
    border-radius: 0 50% 50% 50%;
}

.cat__ear {
    position: relative;
}
.cat__ear--left, .cat__ear--right {
    position: absolute;
    top: -8px;
    width: 150px;
    height: 150px;
    border: 5px solid  transparent;
    border-radius: 90% 0 90% 0;
    background: #ffcc80;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat__ear--left {
    transform: scale(-1, 1) rotate(170deg);
    left: -14px;
}
.cat__ear--right {
    transform: rotate(170deg);
    left: 94px;
}
.cat__ear--left-inside, .cat__ear--right-inside {
    width: 108px;
    height: 108px;
    border-radius: 90% 0 90% 0;
    background: #e57373;
}
.cat__eye {
    position: absolute;
    top: 35px;
    left: -16px;
    display: flex;
}
.cat__eye--left, .cat__eye--right {
    width: 49px;
    height: 49px;
    background: #fff;
    border-radius: 50%;
    margin: 38px;
    z-index: 100;
}
.cat__eye span {
    position: absolute;
    top: 41px;
    width: 42px;
    height: 42px;
    background: #373737;
    border-radius: 50%;
    z-index: 200;
}
.cat__eye span::after {
    content: '';
    top: 8px;
    left: 8px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
.cat__eye span::before {
    content: '';
    top: 20px;
    left: 8px;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
.cat__eye span.pupil-left {
    left: 42px;
}
.cat__eye span.pupil-right {
    left: 166px;
}
.cat__nose {
    position: absolute;
    top: 115px;
    left: 95px;
    width: 0;
    height: 0;
    border-right: 14px solid rgba(255, 255, 255, 0);
    border-left: 14px solid rgba(255, 255, 255, 0);
    border-top: 14px solid #e57373;
    border-radius: 40%;
    z-index: 100;
}
.cat__mouth-contour {
    position: absolute;
    top: 97px;
    left: 19px;
    background: #fff3e0;
    width: 180px;
    height: 90px;
    -webkit-border-radius: 55% 55% 60% 60%;
    border-radius: 55% 55% 60% 60%;
}
.cat__mouth-left, .cat__mouth-right {
    position: absolute;
    top: 120px;
    width: 23px;
    height: 23px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid  #373737;
    border-right: 3px solid rgba(255, 255, 255, 0);
    border-top: 3px solid rgba(255, 255, 255, 0);
    transform: rotate(-45deg);
}
.cat__mouth-left {
    left: 88px;
}
.cat__mouth-right {
    left: 108px;
}
.cat__whiskers-left, .cat__whiskers-right {
    position: relative;
}
.cat__whiskers-left, .cat__whiskers-right, .cat__whiskers-left::after, .cat__whiskers-right::after, .cat__whiskers-left::before, .cat__whiskers-right::before {
    width: 32px;
    height: 5px;
    background: #373737;
}
.cat__whiskers-left::before, .cat__whiskers-right::before, .cat__whiskers-left::after, .cat__whiskers-right::after {
    content: '';
    position: absolute;
    left: 0;
}
.cat__whiskers-left {
    top: 112px;
    left: -18px;
}
.cat__whiskers-left::before {
    top: -16px;
    transform: rotate(15deg);
}
.cat__whiskers-left::after {
    top: 16px;
    transform: rotate(-15deg);
}
.cat__whiskers-right {
    top: 108px;
    left: 205px;
}
.cat__whiskers-right::before {
    top: -16px;
    transform: rotate(-15deg);
}
.cat__whiskers-right::after {
    top: 16px;
    transform: rotate(15deg);
}
.cat__body {
    position: relative;
}
.cat__chest {
    position: absolute;
    left: 54px;
    top: -48px;
    width: 120px;
    height: 120px;
    background: #ffcc80;
    border: 5px solid  transparent;
    border-radius: 50% 50% 40% 40%;
    z-index: 3;
}
.cat__chest_inner {
    content: '';
    position: absolute;
    top: 30px;
    left: 70px;
    width: 88px;
    height: 35px;
    border-radius: 50%;
    background: #fff3e0;
    z-index: 4;
}
.cat__paw-left, .cat__paw-right {
    position: absolute;
    top: 24px;
    width: 28px;
    height: 48px;
    background: #ffcc80;
    border: none;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 5;
}

.cat__paw-right_inner {
    content: '';
    position: absolute;
    top: 40px;
    left: 148px;
    width: 35px;
    height: 32px;
    background: #ffcc80;
    border-radius: 45%;
    border: 5px solid transparent;
    z-index: 2;
}

.cat__paw-left_inner {
    content: '';
    position: absolute;
    top: 40px;
    left: 48px;
    width: 35px;
    height: 32px;
    background: #ffcc80;
    border-radius: 45%;
    border: 5px solid transparent;
    z-index: 2;
}
.cat__paw-left {
    left: 78px;
    border-radius: 0 0 45% 35%;
}
.cat__paw-left::after {
    left: -32px;
}
.cat__paw-right {
    left: 122px;
    border-radius: 0 0 35% 45%;
}
.cat__paw-right::after {
    left: 16px;
}
.cat__tail {
    position: absolute;
    top: 20px;
    left: 130px;
    width: 90px;
    height: 23px;
    background: #ffcc80;
    border: 5px solid transparent;
    border-radius: 45%;
    z-index: 1;
    transform: rotate(-45deg);
} */
/* .cursor {
    position: absolute;
    height: 23px;
    width: 23px;
    border: none;
    border-radius: 50%;
    background: #b40660;
    transform: translateX(-50%) translateY(-50%);
    z-index: 4000;
} */
