.catBox {
    position: relative;
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 65px;
    padding-bottom: 50px;
}

.cattributes {
    padding: 25px;
    background-color: #d3a7a7;
    border-radius: 10px;
    margin-left: 20px;
}

.dnaDiv {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 36px;
}
.dnaDiv2 {
    position: absolute;
    left:20px;
    bottom: 5px;

}