body {
  /* background: -webkit-linear-gradient(left, rgba(143, 197, 188),  #6b71d3);  */
  background: linear-gradient(to bottom, #EAD7A5, #EAD7A5); 
  /* background: #EAD7A5; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content:center;
  align-items:center;
  font-family: 'Dosis', sans-serif;
}
/* rgba(143, 197, 188)
 #6b71d3*/
#title {
  position: relative;
  font-weight: 600;
  font-size: 4em;
  margin-top: 139rem;
  text-align: center;
  width: 100vw;
}



svg text {
  
  /* font-family: Lora; */
  letter-spacing: 1px;
  stroke: #f5e49f;
  font-size: 102px;
  font-weight: 900;
  stroke-width: 1;
 
  animation: textAnimate 10s infinite alternate;
  
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsla(0, 48%, 45%, 0.856)

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
    fill: #4d2703;
  }
  
}





.intro-box{
  border-radius: 15px; 
  background-color: aliceblue;
  padding: 30px;
  position: relative;
  width: 30rem;
  height: 34rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #f5e49f;
  font-size: 25px;
  top: -12rem;
  /* box-shadow: 5px 5px 100px rgb(0, 0, 0); */
  box-shadow: 0px 0px 25px 5px rgb(255, 0, 0);
    -webkit-box-shadow: 0px 0px 25px 5px rgb(212, 0, 255);

  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: 0.5s ease-in;
  background:#4d2703;
}


.intro-box:hover{
  /* animation: shake 1s; */
  
  background: #9e7ac7;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-1px, -2px) rotate(-1deg); }
  40% { transform: translate(-3px, 0px) rotate(1deg); }
  60% { transform: translate(3px, 2px) rotate(0deg); }
  80% { transform: translate(1px, -1px) rotate(1deg); }
  100% { transform: translate(-1px, 2px) rotate(0deg); }
  /* 60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); } */
}

.intro-items{
  margin-left: -40px;
  
}
.intro-item-text{
  margin-left: -30px;
}

#fancy{
  background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  position: relative;
  left: -17px;
  color: rgb(12, 12, 12);
  background-size: 600%;
  cursor: pointer;
}

#fancy:hover{
  animation-name: gradient;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* background:rgb(186, 113, 219); */
}

@keyframes gradient{
  0% {background-position: 0% 40%}
  50%{background-position: 95% }
  100%{background-position: 0%}
    
}




.info-cont{
  border-radius: 10px;
  background: bisque;
  z-index: 1;
  display: grid;
  margin-top: 37%;
  margin-bottom: 0;
  /* box-shadow: 5px 5px 100px rgb(0, 0, 0); */
  box-shadow: 0px 0px 50px 20px rgb(0, 153, 255);
    -webkit-box-shadow: 0px 0px 25px 5px rgb(0, 153, 255);
  font-size: 20px;
  
}
.info-row{
  position: relative;
  padding: 20px;
  display: grid;

}
.pic-row{
  position: relative;
  padding: 20px;
  display: grid;
  border-radius: 10px;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    background: rgb(186, 113, 219); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, rgb(186, 113, 219) , rgb(78, 142, 179)); 
    background: -o-radial-gradient(top, rgb(186, 113, 219) , rgb(78, 142, 179)); 
    background: -moz-radial-gradient(top, rgb(186, 113, 219) , rgb(78, 142, 179));
    background: radial-gradient(top, rgb(186, 113, 219) , rgb(78, 142, 179));

}
.cat1{
  margin: auto;
  height: 18rem;
  animation: spin 15s infinite;
  
}

@keyframes spin {
  0%{ transform: rotate(0deg);}
  25%{ transform: rotate(0deg);}
  50%{ transform: rotate(360deg);}
  75%{ transform: rotate(0deg);}
  100%{ transform: rotate(0deg);}
}


.ears1{
  top: 0rem;
  position: relative;
}


.catImages{
  position: relative;
  margin: 0;
  width: 0;
  height: 0;
  top: -32rem;
  left: -13rem
}
#catImage{
  height: 100%;
  width: 100%;
  /* height: 0;
  top: -31rem; */
  position: absolute;

}

/* Cat number 2 on the front page */
#catImage2{
  z-index: 9;
  position: relative;
  left: 12rem;
}
.belly2{
  background: #344867;
}
.body1{
  background: #ebbe76;
}
.body2{
  background: #748882;
  width: 200px;
    height: 222px;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    top: 146px;
    left: 62px;
}
.mouth2{
  background: #344867;
}
.feet2{
  background: #e3a0cc;
}
.feet1{
  background: #000;
}
.inner2{
  background: #e3a0cc;
}
.head1{
  background: #ebbe76;

}
.head2{
  background-color: #748882;
  top: 3rem;
}
.head3{
  background: #a4be5a;
  top: 3rem;
}
.left-ear2{
  top: 3rem;
  background: #748882;
}
.left-ear3{
  top: 3rem;
  background: cadetblue;
}
.right-ear2{
  top: 3rem;
  left: 6rem;
  background: #748882;
}
.right-ear3{
  
  top: 3rem;
  left: 6rem;
  background:#ee786e;
}
.chilled{
  border-top: 13px solid;
  /* color: #b99a70; */
}
.sleepy{
  border-top: 17px solid;
  border-bottom: 10px solid;
}
.sleepytransp{
background: #ffebcd00;
}

.paws-div{
  position: relative;
  margin: 0;
  width: 0;
  height: 0;
}
.paw{
  transform:rotate(145deg);
  position: relative;
  width: 600px;
  height: 600px;
  left: -18rem;
  top: -9rem;

}


.eyes-color{
  background:linear-gradient(to bottom, rgb(51, 50, 50), #000);
  border-radius: 30px;
  left: 3px;
  width: 193px;
  border: 2.5px solid #FFD700;
  height: 92px;
}

.grey{
  background: grey;
}
.lightBlue{
  color: rgb(35 81 119);
}




.catBody{
  color: #e27d60;
}

.left-side{
  position: relative;
  float: right;
  top: 16rem;
  left: 9rem;

}
.right-side{
  position: relative;
  float: left;
  top: 13rem;
  left: -4rem;
}













ul
{
list-style-type: none;
}

/* .wrapper{
  display: inline-block;
  position: relative;
  place-items: center;
  align-items: center;
} */




  #catBody{
    position: relative;
    top: 31rem;
    left: 0rem;

  }
  #catBelly{
    position: relative;
    top: 20rem;
    left: 2rem;
    
  }
  .foot-right{
    position: relative;
    top: 61px;
  }
  .foot-left{
    position: relative;
  }
  
  .tail{
    position: relative;
    top: 43rem;
    left: 12rem;
    animation: moveTail 5s infinite;
  }

  .ears{
    position: relative;
    top: 33rem;
  
  }

  
.area{
  /* background:  rgba(143, 197, 188);   */
  /* background: -webkit-linear-gradient(left, rgba(143, 197, 188), #6b71d3);   */
  /* background: -webkit-linear-gradient(left, rgb(108, 177, 154), #48B986);  */
  background: -webkit-linear-gradient(top, #48B986, #EAD7A5); 

  /* background: #48B986;  */
  width: 100%;
  height:300%;
  position: absolute;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  
  animation: animate 25s linear infinite;
  bottom: 300px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  background: #be69234d;
}


.circles li:nth-child(2){
  left: 10%;
  width: 40px;
  height: 40px;
  animation-delay: 2s;
  animation-duration: 12s;
  background: #a2be234d;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  background: #be239c4d;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  background: #23acbe4d;
}

.circles li:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  background: #d4c1154d;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  background: #be69234d;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  background: #0b18d64d;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  background: #23be2b4d;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
  background: #beb4234d;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  background: #da1cba4d;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  80%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 1;
      border-radius: 50%;
  }
  100%{
    opacity: 1;
  }

}

.socials{
  width: 100px;
  height: 100px;
  margin: auto;
}